@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*
font-family:'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
*/
*{
    margin: 0px;
    padding: 0px;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
html, body{
    width: 100vw;
    font-size: 16px;
    font-size: .75vw;
    color: white;
}

:root {
    --color-top:linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
    --pr-blue: #132e41;
    --greyLight-1: #396d92;
    --greyLight-2: #2d5674;
    --greyLight-3: #213f55;
    --greyDark: #9baacf;
    --shadow: .3rem .3rem .6rem var(--greyLight-2), 
    -.2rem -.2rem .5rem var(--pr-blue);
    --inner-shadow: inset .5em .5em 1rem rgba(100, 100, 100, 0.5), 
    inset .2em .2em .3rem rgba(0, 0, 0, 0.5),
    .2em .2em .3rem rgba(0, 0, 0, 0.37);
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #132e41;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

.button{
    box-shadow:
    inset 0.1em .1em .5rem #162a3867,
    inset -.2em -.2em .3rem rgba(0, 0, 0, 0.2),
        .2em .2em .3rem #00000033,
    -.1em -.1em .5rem #162a3867;
    outline: none;
    border: none;
    background-color:#132e41;
    font-weight: bolder;
    color: white
}

.form-switch input:checked{
    background-color: #d37800;
    border-color: #d37800;
}
.form-switch input::-webkit-slider-thumb{
    background-color: #d37800;
    border-color: #d37800;
}