
*{box-sizing: 100%;}
html, body{
    width: 100vw;
    margin: 0%;
    padding: 0%;
    font-size: 16px;
    font-size: .75vw;
    overflow-x: hidden;
    color: white;
}


a{
    color: white;
    text-decoration: none;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

#right{
    height: 100vh;
}
#right .bg{
    z-index: 1;
    height: 100%;
    width: 105%;
}
#caption{
    z-index: 2;
    position: fixed;
    bottom: 0%;
    right: 3vw;
    color:grey;
}
#caption a{color: lightgray; text-decoration: none;}

#left{
    background-color: #132e41;
}
#left .container{
    padding: 5rem 5rem 5rem 18rem;
}

#menu{
    background-color: rgb(194, 94, 13);
    height: 100vh;
    width: 10vw;
    position: absolute;
    left: 0%;
    padding: 6rem 2rem 6rem 2rem;
    text-align: center;
}
#NM-logo{
    width: 3rem;
    position: absolute;
    bottom: 2rem;
    left: 5rem;
}

#menu .material-icons{
    font-size: 4rem;
}

.menu-list{
    list-style: none;
    padding: 1rem .5rem;
    font-size: 1rem;
    text-align: start;
    font-family:'Lato', sans-serif;
    border-top: 1px solid hsla(0, 0%, 96%, 0.5);
    text-align: center;
    font-weight: 600;
}
.menu-list:nth-last-child(2){
    border-bottom: 1px solid hsla(0, 0%, 96%, 0.5);
}
.menu-list:hover{
    background-color: rgba(206, 111, 34, 0.562)
}




#FUbutton{
    position: fixed;
    left: 50%;
    bottom: 0%
}

#disclaimerModal .modal-body{
    color: black;
}


#dashboard{
    z-index: 10;
    position: fixed;
    top: 10rem; right: 2rem;
    height: 80vh;
    width: 30vw;
    background-color: #000f2466;
    backdrop-filter:blur(4px)saturate(150%);
    border-radius: 7% / 5%;
}

input[type=range] {
    position: relative;
    z-index: 2;
    top: -11.75rem;
    padding: 0%;
    width: 20.5rem;
    height: 3rem;
    -webkit-appearance: none;
    background: transparent;
    border-radius: 15em;
    outline: none;
    align-self:center;
    overflow: hidden;
    box-shadow: var(--inner-shadow);
    transform: rotate(90deg);
  }
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    border: 4px solid #d37800;
    box-sizing: content-box;
    box-shadow: -407px 0 0 400px var(--greyLight-3);
}
input[type=range]::-ms-fill-lower {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    border: 4px solid #d37800;
    
    box-shadow: -407px 0 0 400px var(--greyLight-3);
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    border: 4px solid #d37800;
    box-sizing: content-box;
    box-shadow: -407px 0 0 400px var(--greyLight-3);
}

input[type=range]::-moz-range-progress {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: transparent;
    box-sizing: content-box;
    box-shadow: var(--color-top);
}
:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --color-top:linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
    --pr-blue: #132e41;
    --greyLight-1: #396d92;
    --greyLight-2: #2d5674;
    --greyLight-3: #213f55;
    --greyDark: #9baacf;
    --shadow: .3rem .3rem .6rem var(--greyLight-2), 
    -.2rem -.2rem .5rem var(--pr-blue);
    --inner-shadow: inset .5em .5em 1rem rgba(100, 100, 100, 0.3), 
    inset .2em .2em .3rem rgba(0, 0, 0, 0.3),
    .2em .2em .3rem rgba(0, 0, 0, 0.37);

}
.monthli ul{
    padding: 0;
    width: calc(100% + 1rem);
}
.monthli li{
    width: calc(100% + 1rem);
    line-height: 1.75rem;
    font-size: 1.2rem;
    text-align: right;
    list-style: none;
    font-variant: small-caps;
    opacity: .5;
}
.label-wrapper{
    width: calc(100% + 1rem);
    z-index: 1;
    width: max-content;
    position: relative;
    top: 0px;
    right: 0rem;
}
